.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    color: #c29797;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
    color: #c29797;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 30%;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    font-weight: bold;
}

.input-row--name--first_name,
.input-row--name--last_name
{
    width: 100pt;
}
.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    color: #c29797;
}

.confirm-table__text input {
    width: 80%;
    outline: none;
    border: none;
    color:#c29797
}

.input-row--name{
    display: flex;
    justify-content: center;
    text-align: left;
}


.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 20%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: peru;
    color: #fff;
    cursor: pointer;
}