
.header-nav {
    position: fixed;
    top: 2%;
    right: 10%;
    width: 70pt;
    background-color: #a4a4a4;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 2px;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f5f5f0;
    margin: 0;
    padding: 0;
    color: #5f5143;
}

.login {
    padding: 60px 20px;
    margin: 0;
    font-size: 24px;
}

.login__register:hover {
    background-color: #5f5143;
    color: #fff;
}

.login__header {
    padding: 20px;
    text-align: center;
    position: relative;
}

.login__logo {
    margin: 0;
    font-size: 24px;
    color: #5f5143;
}

.login__form-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.login__form {
    background-color: #fff;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.login__label {
    font-size: 14px;
    margin-bottom: 6px;
    color: #5f5143;
}

.login__input {
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    color: #333;
}


.login__button {
    padding: 12px;
    font-size: 16px;
    background-color: #5f5143;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login__button:hover {
    background-color: #3e362d;
}


.login__error {
    color: #e63946;
    font-size: 0.9rem;
    margin-top: 3px;
    margin-bottom: 16px;
}

.is-invalid {
    background-color: #fff5f5; }